body {
    background: #16151A;
    margin: 0;
    padding: 0;
    font-family: Inter;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
.text {
    color: #fafafa;
}
.plum {
    color:plum;
}
.cursor-pointer{
    cursor: pointer;
}
.cursor-copy{
    cursor:copy;
}
.cursor-cell{
    cursor:cell;
}
.cursor-move{
    cursor: move;
}
.cursor-crosshair{
    cursor: crosshair;
}